* {	font-family: "HelveticaNeue", "Helvetica Neue", "微软雅黑",Helvetica, Arial, sans-serif; }

html, body { height: 100%; min-width: 1350px;}

.green { color: #3B3; }
.blue { color: #09E; }

h1, h2 { margin-bottom: 20px; }

h2 {font-size: 24px; }


ul li{list-style: none;}


a,input,button,select,textarea{ outline:none;}
a:link,a:visited,a:hover,a:active{text-decoration:none;color: white;}
textarea{ font-size:13px; resize:none;}

p{padding: 0;}


.templatemo-container {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
.left-container {
	display: table-cell;
	float: none;
	width: 378px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 0;
}
.right-container {
	display: table-cell;
	float: none;
	width: 62%;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 30px;
	vertical-align: top;
}
.black-bg {
	color: white;
	background-color: black;
}
.white-bg {	background-color: white; }
.tm-left-inner-container { margin-right: 30px; }
.tm-right-inner-container {
	margin-left: 30px;
	max-width: 710px;
}
.templatemo-logo { 
	display: table;
	overflow: hidden;
	table-layout: fixed;
	width: 100%
}
.logo-left-container {
	display: table-cell;
	width: 38%;
}
.logo-right-container {
	display: table-cell;
	width: 62%;
}
.templatemo-logo h1 {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 250px;
}
.templatemo-logo .col-lg-6, .templatemo-logo .col-md-6, .templatemo-logo .col-sm-6 {
	padding-left: 0;
	padding-right: 0;
	padding-top: 20px;
}
.logo-left {
	border-top: 1px solid gray;
	border-right: none; 
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	float: right;
	padding: 10px 30px 10px 40px;
	text-align: right;
}
.logo-right {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: none;
	float: left;
	padding: 10px 40px 10px 30px;
}

.templatemo-nav {
	clear: both;
	font-size: 16px;
	font-weight: 300;
	float: right;
	min-width: 250px;
}
.templatemo-nav>li>a {
	border: 2px solid #8C8C8C;
	border-radius: 8px;
	color: white;
	padding: 15px 50px;
	margin-bottom: 20px;
	transition: background-color 0.3s;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.templatemo-nav>li>a:hover, .templatemo-nav>li>a:focus, .templatemo-nav>li>a.active {
	background-color: #fff;
	color: #000;
	font-weight: 700;
}
.templatemo-nav>li>a>.fa { margin-right: 10px; height:16px;width: 15px;}
.templatemo-header {
	clear: both;
	font-size: 30px;
	margin-top: 0;
}
article { margin-top: 40px; }
article p {
	margin-bottom: 15px;
	text-align: justify;
}
footer {
	margin-top: 40px;
	overflow: hidden;
}
footer p { margin-bottom: 0; }
footer .col-lg-6, footer .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}
.templatemo-social { text-align: right; }
.templatemo-social i {
	border: 1px solid #ccc;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	width: 30px;
	height: 30px;
	transition: background-color 0.3s;
}
.templatemo-social a { color: #757575; }
.templatemo-social a:hover i {
	background-color: #000;
	color: #fff;
}
.row .templatemo-item {	margin-top: 0; }
.templatemo-item p { margin-top: 20px; }
.templatemo-item ul { margin-bottom: 20px; }
.templatemo-item ul li { list-style: none; }
.fa.templatemo-service-icon { font-size: 100px; }

.templatemo-testimonial { overflow: hidden; }
.templatemo-testimonial .fa {
	color: #C8B55E;
	padding: 5px;
}
.templatemo-border-left {
	border-left: 3px solid #C8B55E;
	padding-left: 10px;
}
.templatemo-border-right {
	border-right: 3px solid #C8B55E;
	padding-right: 10px;
	text-align: right;
}
.templatemo-testimonial footer { color: #777; }
.templatemo-testimonial footer:before {	content: '\2014 \00A0'; }
.form-control:focus {
	border-color: #DEB215;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(234, 231, 60, 0.6);
}
iframe { border: none; }
#map-canvas {
    height: 350px;
    margin-bottom: 30px;
}
.margin-bottom-60 {	margin-bottom: 60px; }

.tm-right-inner-container>ul>li{float: left;box-sizing: border-box;}

#main_select{margin-bottom: 50px;float: none;width: 900px;}

#main_select>li{width: 135px;height: 56px;margin-left: 7px;margin-top: -50px;}

#main_select>li>a{padding: 6px 23px;background-color: #fff;color: #000;font-weight: 600;}

#main_select>li>a:hover,#main_select>li>a:active,#main_select>li>a:focus{border: 2px solid #8C8C8C;color: white;background-color: #000;}

#main_select>li>a>i{margin: 0;margin-right: 1px}




/*------------------这个是表格------------------*/

.table_information_ul{    overflow: hidden;
    margin-top: -49px;width: 900px;height: 400px;}

#personInfo_table,.table_information_ul>li{
    width: 250px;
    margin-right: 28px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    left: 0;
    background: #F0F0E3;
    padding: 15px 15px 15px 47px;
    color: #696A52;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.85), 0 1px 0 rgba(255,255,255,.75) inset;
float: left;}

#personInfo_table{
    margin-left: 209px;
    width: 500px;
    margin-top: -27px;
}

@media screen and (min-width:1400px){
	#personInfo_table{
   
    margin-top: 135px;
}
}

#personInfo_table label{margin-left: 20px;}

.personInfo_table_ul li{
    margin-top: 37px;
    font-size: 15px;
    font-weight: bold;
}

.personInfo_table_ul span{
        margin-left: 20px;
}

.btnplayit_submit,.btnplayit{border: none;background-color: red;
    padding: 1px 10px 2px 10px;color: white;letter-spacing: 2px;float: right;}

.btnplayit_submit:hover,.btnplayit_submit:active,.btnplayit:hover, .btnplayit:active {
    background-color: #ffffff;
    color: red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);}

.personInfo_input{
    width: 65%;
    box-sizing: border-box;
    padding: 0 15px;
    background: #2d2d2d;
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    outline: none;}


.btnplayit_submit{background-color: green;}

.btnplayit_submit:hover,.btnplayit_submit:active{
    color: green;
}


.page{    
    width: 900px;
    margin: 25px 0 auto;
    overflow: hidden;
    clear: both;
    text-align: center;}

.page a{display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
   width: 28px;
    height: 29px;
    line-height: 30px;
    font-size: 14px;
    color: #787d82;
    text-align: center;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;}
.page a.active {
    background: #cc0000;
    color: #ffffff;
    border-color: #cc0000;
}

.page a:hover{
    border-color: #cc0000;}


/*------------------这个是表格------------------*/


/*#personInfo_table{
    margin-top: -45px;
    width: 845px;
    margin-left: 39px;
    font-size: 28px;
    display: none;
}*/
#hor-minimalist-client{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    margin: 45px;
    margin-top: -30px;
    width: 800px;
    text-align: center;
    border-collapse: collapse;}


@media screen and (min-width:1400px){
	#hor-minimalist-client{
	margin-top: 135px;
	}
}


#hor-minimalist-client th{
    padding: 8px 2px;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 2px solid #6678b1;
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #039;
     text-align: center;
}

#hor-minimalist-client td{
        padding: 12px 2px 0px 2px;
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #669;
     text-align: center;
     border-top: 1px solid #ddd;
}




#main_select>li>a.inter_active{background-color: #000;color: #fff;}






/*-----------------这个是go button --------------*/

.button:hover {
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
}
.button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.next:before {
    content: "\279C";
}
.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1.3em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}
/*------------------- textarea input evaluation----------------*/
#input_about_evaluation{padding: 10px 43px;border-radius: 23px;height: 150px;width: 820px;border:2px solid black;margin-left: 45px;
    margin-top: 10px;font-size: 20px;font-weight: 700;}

.submit_evaluation{padding: 6px 23px;background-color: #fff;color: #000;font-weight: 600;border: 2px solid #8C8C8C;border-radius: 8px;margin-left: 760px;}

.submit_evaluation:hover,.submit_evaluation:focus,.submit_evaluation:active{background-color: #000;color: #fff;}


/*-------------------- consult comment box ----------------*/

.comment_ul{
    margin-top: -57px;
    width: 900px;
}

.comment_li{
    width: 100%;
    z-index: 1;
    position: relative;
    left: 0;
    background: #F0F0E3;
    padding: 15px 15px 15px 47px;
    color: #696A52;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.85), 0 1px 0 rgba(255,255,255,.75) inset;
    margin-bottom: 10px;}

.comment_li>h3{margin-top: 8px;}


.comment_li>button{    float: right;
    margin-right: 10px;
    margin-top: -21px;}

 .comment_li>p{width: 710px;word-wrap:break-word;}


.answer_pantient{ width: 87%;
    height: 31px;
    box-sizing: border-box;
    margin-top: 2px;personInfo_table
    padding: 0 15px;
    background: #2d2d2d;
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}


.submit_answer{background-color: #d64078;
    color: white;
    border-radius: .3em;
    padding: .2em 0;
    position: relative;
    margin: 0 1.5em;
    width: 50px;
    display: inline-block;
    text-decoration: none;
    border: solid #b03060 1px;
    border-bottom: solid #b03060 4px;
    text-shadow: 0px 2px 0 #b03060;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}


.submit_answer:active{top: 4px;}

.flt_rt{float: right;}


.table_report_ul{
    margin-top: -49px;width: 900px;-webkit-column-width:160px;
-moz-column-width:160px;
-o-colum-width:160px;
column-width:160px;
-webkit-column-gap:82px;
-moz-column-gap:82px;
-o-column-gap:82px;
column-gap:82px;}

@media screen and (min-width:1400px){
	.table_report_ul{
   
    margin-top: 135px;
}
}

.table_report_ul>li{
    margin-bottom: 15px;
width: 250px;
 background: #F0F0E3;
    padding: 15px 15px 15px 47px;
    color: #696A52;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.85), 0 1px 0 rgba(255,255,255,.75) inset;
display:inline-block;}

.table_report_ul>li>p{word-wrap: break-word;}

.table_report_ul>li>div{height: 31px;}

/*---announce界面----------*/

.admin_announce{    background-image: url('../img/index_shadow.png');
    background-size: 100% 100%;
    width: 749px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 54px 45px 0px 45px;
    }

#announce_index{word-wrap: break-word;margin-top: 30px;font-size: 20px;
    padding:10px 20px;letter-spacing: 1px;}

/*查询时间轴*/

    
 *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.container{margin-left: -63px;}


/* a:hover {
    color: #000;
} */

.main_record,.container > header {
    width: 95%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em 3.125em;
}

.container > header {
    padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0;
    float: left;
    font-weight: 400;
}

.container > header span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.container > header nav {
    float: right;
}

.container > header nav a {
    display: block;
    float: left;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    color: transparent;
    margin: 0 0.1em;
    border: 4px solid #47a3da;
    text-indent: -8000px;
}

.container > header nav a:after {
    content: attr(data-info);
    color: #47a3da;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

.container > header nav a:hover:after {
    opacity: 1;
}

.container > header nav a:hover {
    background: #47a3da;
}

.icon-drop:before, 
.icon-arrow-left:before {
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    color: #47a3da;
    -webkit-font-smoothing: antialiased;
    text-indent: 8000px;
    padding-left: 8px;
}

.container > header nav a:hover:before {
    color: #fff;
}

.icon-drop:before {
    content: "\e000";
}

.icon-arrow-left:before {
    content: "\f060";
}



.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}


.cbp_tmtimeline > li .cbp_tmlabel {
    width: 614px;
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}



.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}

/*banner*/



.unslider-nav{display: none;}

.unslider-arrow{    display: block;
    width: 27px;
    height: 27px;
    top: 50%;
    right: 810px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0,0,0,.2) no-repeat 50% 50%;
    background: url("../img/arrow.jpg") 100% 100% no-repeat;
    background-size: 28px 29px;
    border-radius: 32px;
    text-indent: -999em;
   
    }

.prev{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/*news_ul*/

.news_ul{display: inline-block;}
.news_ul:after{content:"";display: block;clear: both;}
.new_p,.new_li{background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    padding: 39px 19px 24px;
    float: left;
    width: 180px;
    margin-right: 20px;
    height: 289px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); 
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
     box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); }


.new_p:after,.new_li:after{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "新闻";
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
     position: relative;
    top: -218px;
    left: -19px;
    
}

.new_p{    width: 836px;
    margin-left: 51px;}

.new_p:after{
    content:"动态";
        top: -263px;
}


/*boot_hand*/

.boot_hand{    background-color: #e4644b;
    border-top: 1px solid #d05942;
    height: 48px;
    color: #f7f1e3;
    box-sizing: border-box;
    position: relative;
        display: block;
    text-align: center;
    padding-top: 10px;}
        
.boot_foot{    line-height: 20px;
    padding-top: 11px;
    background-color: #484141;
    border-left: solid 6px #484141;
    transition: border-left 220ms ease-in;
	
}

.boot_foot p{       font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.3;
    padding: 5px 20px;}

.expand-triangle{    background: url("../img/expand.gif") no-repeat;
    background-size: 100% 100%;
    height: 10px;
    width: 35vw;
    content: " ";
    margin-left: 0px;}